ul.sub-tree {
  list-style: none;
  padding: 2px 0 0 15px;
  margin: 0;

  & > .tree-item {
    padding-left: 15px;
    padding-right: 15px;
  }
}


.sub-tree:not(.is-visible) {
  display: none;
}   



.tree-item {      
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // padding-right: 15px;
  position: relative;

  &.has-children {
    & > .header > .status {
      cursor: default;
    }
  }

  // &.is-selected {
  //   & > .header {
  //     background: #333;
  //     color: #f2f2f2;
  //   }
  // }

  & > .header {
    display: flex;
    // width: 100%;
    padding: 0 10px 0 0;

    & > .name {        
      cursor: pointer;          
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis;
      user-select: none;
    }

    & > .status {  
      display: inline-block;
      padding: 0;
      margin: 0 5px 0 0;

      &.normal {
        color: green; 
        /* fill: green; */
      }
      &.warning {
        color: orange; 
        /* fill: green; */
      }
      &.critical {
        color: red; 
        /* fill: green; */
      }
      &.deactivated {
        color: grey; 
        /* fill: grey; */
      }
    }
  }
}