<div id="app" [ngClass]="Theme">
  <deepdive (select)="SelectedTreeItems = $event"></deepdive>
  <div>
    <div>
      <ng-container *ngIf="Theme == 'light'; then tmplThemeLight; else tmplThemeDark"></ng-container>      
      <ng-template #tmplThemeLight>  
        <div class="btn-theme" title="Switch to {{NextTheme}} theme">
          <svg class="feather size-16px" (click)="SwitchToNextTheme()">
            <use xlink:href="/assets/feather-sprite.svg#moon" />
          </svg> 
        </div>                     
      </ng-template>
      <ng-template #tmplThemeDark>
        <div class="btn-theme" title="Switch to {{NextTheme}} theme">
          <svg class="feather size-16px" (click)="SwitchToNextTheme()">
            <use xlink:href="/assets/feather-sprite.svg#sun" />
          </svg>
        </div>
      </ng-template>
    </div>
    <ul>
      <li *ngFor="let selectedTreeItem of SelectedTreeItems">
        {{selectedTreeItem.Name}}
      </li>
    </ul>
  </div>
</div>

